.info {
    background-image: url(../Assets/Background/Background\ 1.png);
    padding: 5em 5em;
    text-align: center;
}

.info__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 64px;
    width: 100%;
}

.info__card__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--bg-color-8);
    width: 30%;
    height: 5em;
    border-radius: 0.5em;
    padding-top: 0.5em;
}

.info__card__content__button {
    background: rgba(0, 0, 0, 0.600);   
    width: 60%;
    padding: 1em 1em;
    border-radius: 1em;
    color: var(--font-color-2);
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

.info_1 {
    background-image: url(../Assets/Articles/EliminePulgas.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.info_2 {
    background-image: url(../Assets/Articles/SaudeBucal.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.info_3 {
    background-image: url(../Assets/Articles/Publi.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.info_4 {
    background-image: url(../Assets/Articles/NadoCachorrinho.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.info_5 {
    background-image: url(../Assets/Articles/BeneficiosBrincar.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.info_6 {
    background-image: url(../Assets/Articles/HigieneCanina.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}